{% extends "/site/layout.html" %}
{% block page_css %}
{% endblock %}
{% block page_js %} 
{% endblock %}

{% block page_title %}{{keyword}}{% endblock %}

{% block page_content %}
<style>
    .ccenter {
        text-align: center;
    } 
a:link {color:rgba(0, 0, 0, 0);}      /* unvisited link */
a:visited {color:rgba(0, 0, 0, 0);}  /* visited link */
a:hover {color:rgba(0, 0, 0, 0);}  /* mouse over link */
a:active {color: rgba(0, 0, 0, 0);}  /* selected link */
</style>
        <article id="main-content" class="main-content" style="padding-top: 150px">
        {% set categories = Category.query.order_by(Category.position) %}
            {% if categories %}
                {% for c in categories %}
                    {% set products = Product.query.filter(Product.category == c.id).order_by(Product.position) %}
                    <div class="container">
                        <div class="row" id="termotransfer" style="text-align: center">
                            {% for p in products %}
                                {% if loop.first %}
                                <h2 style="text-align: center; padding-top: 5rem">{{c.name}}</h2>
                                {% endif %}
                                <a href="{{url_for('site.product', keyword=p.name)}}" style="outline: none">
                                <img style="width: 20rem; height: 20rem" src="static/img/product_images/{{p.image[0]}}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </article>
{% endblock %}

