{% extends "/site/layout.html" %}
{% block page_css %}
{% endblock %}
{% block page_js %} 
{% endblock %}

{% block page_title %}{{keyword}}{% endblock %}

{% block page_content %}
<style>
    .ccenter {
        text-align: center;
    }
</style>
        <article id="main-content" class="main-content" style="padding-top: 150px">
            <div class="container">
                {% for i in asd %}
                {% if asd[i] %}
                <div class="row" id="termotransfer">
                    
                    {% for k in asd[i] %}
                    {% if loop.first and asd[i][k][0] %}
                    <h2 style="text-align: center; padding-top: 5rem"">{{i}}</h2>
                    {% endif %}
                    <div class="col-sx-12 col-lg-2 col-md-6 ccenter"> 
                        <a href="{{url_for('site.product', keyword=k)}}" style="outline: none">
                        <img src="static/img/product_images/{{asd[i][k][0]}}" alt="">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </article>
{% endblock %}

