{% extends "/site/layout.html" %}
{% block page_js %}     
<script>$(function(){ $(".dsaasd").popImg(); })</script>
<script src="/static/js/zoom.js"></script> 
{% endblock %}
{% block page_title %}{{keyword}}{% endblock %}
{% block page_content %}
        <article id="main-content" class="main-content" style="padding-top: 150px">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3 text-center wow slideInRight"> 
                        <img src="static/img/catalog/WAX Standard_iccat_ttt.png" alt="">
                    </div>

                    <div class="col-sm-4 col-sm-push-1 wow slideInRight">
                    <h2 style="text-align: center">Wax Standart</h2>
                    <p>Лента с нанесением воска, самый доступный материал для промышленной маркировки. Подходит для печати по матовой, полуглянцевой и бумажной этикетке. Чаще всего используется в складском учете, нанесенная информация не повреждается при механическом воздействии и прямом воздействии солнечных лучей. </p>
                    </div>

                    <div class="col-sm-3 col-sm-push-2 text-center wow slideInRight">
                        <img class="dsaasd" src="/static/img/main/Ribbon specification_Wax Standart WSxF.jpg" alt="">
                    </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center wow slideInRight"> 
                        <img src="static/img/catalog/WAX Premium_iccat_ttt.png" alt="">
                    </div>

                    <div class="col-sm-4 col-sm-push-1 wow slideInRight">
                    <h2 style="text-align: center">Wax Premium</h2>
                    <p>Лента с нанесением воска и дополнительным напылением полимерных материалов, позволяет наносить качественную развернутую на 90 градусов печать, печатает на более высоких скоростях в отличие от wax stаndard, подходит для печати по матовой,  полуглянцевой и глянцевой этикетке. </p>
                    </div>

                    <div class="col-sm-3 col-sm-push-2 text-center wow slideInRight">
                        <img class="dsaasd" src="/static/img/main/Ribbon specification_Wax Premium WSPF.jpg" alt="">
                    </div>                   
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center wow slideInRight"> 
                        <img src="static/img/catalog/Wax Resin flat head_iccat_ttt.png" alt="">
                    </div>

                    <div class="col-sm-4 col-sm-push-1 wow slideInRight">
                    <h2 style="text-align: center">Wax Resin<br> flat head</h2>
                    <p>Лента с нанесением композитного материала воска и синтетических смол. Является универсальным материалом, поэтому отлично печатает как на бумажных, так и на синтетических поверхностях.  </p>
                    </div>

                    <div class="col-sm-3 col-sm-push-2 text-center wow slideInRight">
                        <img class="dsaasd" src="/static/img/main/Ribbon specification_Wax_Resin Flat head CSxF.jpg" alt="">
                    </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center wow slideInRight"> 
                        <img src="static/img/catalog/Wax Resin near edge_iccat_ttt.png" alt="">
                    </div>

                    <div class="col-sm-4 col-sm-push-1 wow slideInRight">
                    <h2 style="text-align: center">Wax Resin<br> near edge</h2>
                    <p>Лента с нанесением композитного материала воска и синтетических смол. Является лучшим материалом для печати по гибким полимерным упаковкам, чаще всего используется для печати в составе конвейерных лент на принтерах с угловой головой. </p>
                    </div>

                    <div class="col-sm-3 col-sm-push-2 text-center wow slideInRight">
                        <img class="dsaasd" src="/static/img/main/Ribbon specification_Wax_Resin Near Edge CSxN.jpg" alt="">
                    </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center wow slideInRight"> 
                        <img src="static/img/catalog/Resin standard_iccat_ttt.png" alt="">
                    </div>

                    <div class="col-sm-4 col-sm-push-1 wow slideInRight">
                    <h2 style="text-align: center">Resin</h2>
                    <p>Лента на основе синтетических смол, отлично подходит для печати по синтетическим поверхностям, таким как матовый и глянцевый полипропилен, полиэтилен, ПВХ и другим. Отлично печатает  на высоких скоростях. Информация, нанесенная данной лентой устойчивая к механическому воздействию и агрессивным средам, выдерживает химическую обработку спиртам и нефтепродуктами.</p>
                    </div>

                    <div class="col-sm-3 col-sm-push-2 text-center wow slideInRight">
                        <img class="dsaasd" src="/static/img/main/Ribbon specification_Resin Standart RSxF.jpg" alt="">
                    </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center wow slideInRight"> 
                        <img src="static/img/catalog/Resin textile_iccat_ttt.png" alt="">
                    </div>

                    <div class="col-sm-4 col-sm-push-1 wow slideInRight">
                    <h2 style="text-align: center">Resin txt</h2>
                    <p>Лента на основе синтетических смол отлично подходит для печати на тканевых носителяx, таких как нейлоновая и сатиновая лента. Выдерживает многократные обработки при высокой температуре, рекомендуется для печати на ярлыках по уходу за одеждой.</p>
                    </div>

                    <div class="col-sm-3 col-sm-push-2 text-center wow slideInRight">
                        <img class="dsaasd" src="/static/img/main/Ribbon specification_Resin Standart RSxF.jpg" alt="">
                    </div>
            </div>
        </article>
{% endblock %}