<!doctype html>
<html>
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="/static/image/favicon.png">
    {# CSS libs #}
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/libs/font-awesome.min.css"/>
    {# CSS layout #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/main.css">


    {# CSS page #}
    {% block page_css %}{% endblock %}
    {# JS global vars #}
    <script type="text/javascript">
        var g = {
            domain: "{{ config.SITE_DOMAIN }}",
            csrfToken: "{{ csrf_token() }}",
            rules: {{ rules|safe }},
            method: "{{ request.method }}",
            signin: {% if g.user %}true{% else %}false{% endif %},
            userId: {% if g.user %}{{ g.user.id }}{% else %}false{% endif %},
        };
    </script>
    {# JS libs #}
    <script src="/static/js/libs/respond.min.js"></script>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/libs/bootstrap.min.js"></script>
    <script src="/static/js/init.js"></script>
    <script src="/static/js/libs.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 



    <script>
    new WOW().init();
    </script>

</head>

<body>
{% include 'site/includes/header.html' %}
{# Please DO NOT change the id below #}
{% from '_form.html' import vertical_field %}
<div id="main">
    {% block page_content %}{% endblock %}
</div>

{% include 'crm/includes/chat/chat.html' %}
{% include 'site/includes/footer.html' %}
{% block page_js %}
{% endblock %}
</body>
</html>
