{% extends "/site/layout.html" %}

{% block page_title %}Риббон{% endblock %}
{% block page_js %}
    <script src="/pages/site/index/index.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/site/index/index.css"/>{% endblock %}
{% block page_content %}
<main> 
    {% include '/site/includes/carousel.html' %}
        <article id="main-content" class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 wow slideInLeft">
                        <h2>Производственные возможности</h2>
                        <p>Будучи непосредственно производителем термотрансферной ленты, мы имеем в своем распоряжении высокотехнологичную производственную линию и все подразделения, необходимые для полноценного обслуживания клиентов.</p> <a href="{{url_for('site.about')}}">Подробнее</a> </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center wow slideInRight"> <img src="static/img/block_1.png" alt=""> </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-push-5 col-sm-offset-2 wow slideInRight">
                        <h2>Индивидуальное изготовление</h2>
                        <p>Испытываете потребность в размере и материале риббона, отличном от уже имеющихся в ассортименте? Мы готовы выполнить приватный заказ на термотрансферную и текстильную ленту и прочие расходные материалы. Наши специалисты окажут помощь в выборе и решении сложных и нестандартных задач по маркировке.</p> <a href="{{url_for('site.about')}}">Рассчитать стоимость</a> </div>
                    <div class="col-sm-4 col-sm-pull-6  col-sm-offset-1 text-center wow slideInLeft"> <img src="static/img/block_2.png" alt=""> </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4  col-sm-offset-1 wow slideInLeft">
                        <h2>Склад</h2>
                        <p>Складской запас постоянно анализируется и составляется с учетом потребностей клиентской  базы. В наличии держатся все самые ходовые позиции. Последние отгружаются по первому требованию заказчика, поставляются в индивидуальной заводской упаковке. По мере необходимости номенклатура пополняется эксклюзивными и редкими материалами. </p> <a href="{{url_for('site.about')}}">Продукция</a> </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center wow slideInRight"> <img src="static/img/block_3.png" alt=""> </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-push-5 col-sm-offset-2 wow slideInRight">
                        <h2>Технические характеристики</h2>
                        <p>Термотрансферная лента имеет довольно сложное строение, основой которого является полиэстерная пленка. С одной стороны, ее покрывают цветным красящим веществом, с другой – специфической смазкой. Задача последней – предотвращать трение между лентой и термоголовкой устройства. Мы предлагаем красящие ленты с различным типом основы.</p> <a href="{{url_for('site.about')}}">Узнать больше</a> </div>
                    <div class="col-sm-4 col-sm-pull-6  col-sm-offset-1 text-center wow slideInLeft"> <img src="static/img/block_4.png" alt=""> </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4  col-sm-offset-1 wow slideInLeft">
                        <h2>Доставка и оплата </h2>
                        <p>Оплата товара, сроки его изготовления и последующая доставка прописываются в двустороннем договоре о сотрудничестве.</p>
                        <a href="{{url_for('site.about')}}">Узнать больше</a> </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center wow slideInRight"> <img src="static/img/block_5.png" alt=""> </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-push-5 col-sm-offset-2 wow slideInRight">
                        <h2>Бесплатные образцы</h2>
                        <p>Предлагаемые нами термотрансферные ленты обладают отличной износостойкостью и высоким качеством печати, соответствующим требованиям производителей печатной техники. Чтобы вы могли удостовериться в этом лично и убедить своих клиентов, мы предлагаем образцы выпускаемых риббонов на совершенно безвозмездной основе.</p> <a href="{{url_for('site.about')}}">Заказать образец</a> </div>
                    <div class="col-sm-4 col-sm-pull-6  col-sm-offset-1 text-center wow slideInLeft"> <img src="static/img/block_6.png" alt=""> </div>
                </div>
            </div>
        </article>
        <article id="main-content" class="main-content main-content--block-7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 wow slideInLeft">
                        <h2>Акции и скидки</h2> 
                        <p>Продукция со склада по выгодным ценам. </p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center wow slideInRight"> <img src="static/img/block_7.png" alt=""> </div>
                </div>
            </div>
        </article>
    </main>
{% endblock %}
