{% extends "/site/layout.html" %}
{#% block page_css %#}
<link rel="stylesheet" href="/static/css/libs/powerange.min.css">
{#% endblock %#}
{% block page_title %}{{ product.name }}{% endblock %}
{% block page_js %} 
  <script src="/static/js/libs/powerange.min.js"></script> 
  <script type="text/javascript">


    var course = {% if cource %} {{ cource }} {% else %} 59 {% endif %} 
    var price = {% if product.price %} {{ product.price }} {% else %} 0.15 {% endif %}

    var width = {
        start: {{calculator.width_start}},
        min: {{calculator.width_min}},
        max: {{calculator.width_max}},
        step: {{calculator.width_step}}
    }
    var height = {
        start: {{calculator.height_step}},
        min: {{calculator.height_min}},
        max: {{calculator.height_max}},
        step: {{calculator.height_step}}
    }


    var dec = document.querySelector('.js-decimal');
    var initDec = new Powerange(dec, { decimal: true, callback: displayDecimalValue, min: {{calculator.height_min}}, max: {{calculator.height_max}}, step: {{calculator.height_step}}, start: {{calculator.height_step}} });
    function displayDecimalValue() {
        document.getElementById('js-decimal-display').innerHTML = dec.value;
    }

    var vert = document.querySelector('.js-decimal-vertical');
    var initVert = new Powerange(vert, { decimal: true, callback: displayDecimalVerticalValue, min: {{calculator.width_min}}, max: {{calculator.width_max}}, step: {{calculator.width_step}}, start: {{calculator.width_start}} });
    function displayDecimalVerticalValue() {
        document.getElementById('js-decimal-vertical-display').innerHTML = vert.value;
    }

    dec.onchange = function() {
    	document.getElementById('count').innerHTML = Math.round(((Math.round(vert.value)/1000 * Math.round(dec.value))*price)*course);
    };
    vert.onchange = function() {
    	document.getElementById('count').innerHTML = Math.round(((Math.round(vert.value)/1000 * Math.round(dec.value))*price)*course);
    };

  </script>
  <script>
      
    $(document).ready(function(){
    $('.go_to').click( function(){ // ловим клик по ссылке с классом go_to
    var scroll_el = $(this).attr('href'); // возьмем содержимое атрибута href, должен быть селектором, т.е. например начинаться с # или .
        if ($(scroll_el).length != 0) { // проверим существование элемента чтобы избежать ошибки
        $('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 500); // анимируем скроолинг к элементу scroll_el
        }
        return false; // выключаем стандартное действие
    });
});

  </script>
{% endblock %}
{% block page_content %}
<style>
    
.slider-wrapper {
  margin: 50px 0 30px 30px;
  position: relative;
  width: 100%;
}
.vertical-wrapper {
  height: 50rem;
  width: auto;
}

</style>
<article class="main-content" style="padding-top: 20rem">
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-xs-12" style="padding-top: 10rem">
			<h2 style="color: white">{{ product.name }}</h2>
			<p>{{ product.description }}</p>
		</div>
        <div class="col-lg-6 col-md-12 col-xs-12">
        <div style="text-align: center">
			<img src="/static/img/product_images/{{product_images}}" width="75%">
		</div>
        </div>
	</div>
        <div class="col-lg-12 com-md-12 col-xs-12" >
            <h4 style="color: white">{{ product.article }}</h4>
        </div>
</div>
</article>
<article class="main-content" style="background: white">
<div class="container">
    <div class="row">

        <div class="col-lg-6 col-xs-12">
            <img src="/static/img/product/size_icon-2.png" style="margin-top: 1rem;">
        </div>

        <div class="col-lg-6">
            <h1 style="text-align: center">Рассчитай стоимость рулона</h1>
            <div class="slider-wrapper" style="margin: 50px 0 30px 30px; position:relative; width: 100%;">
                <input type="text" class="js-decimal" />
            </div>
            <br>
            <div class="slider-wrapper" style="margin: 50px 0 30px 30px; position:relative; width: 100%;">
            <input type="text" class="js-decimal-vertical" />
            </div>
            <div class="col-lg-6 col-lg-offset-5 col-md-6 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-6 col-xs-offset-5">
            
            {% if calculator %}
            <div class="btn-group" id="status" data-toggle="buttons">
              <label class="btn btn-default btn-on btn-lg active">
              <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">IN</label>
              <label class="btn btn-default btn-off btn-lg">
              <input type="radio" value="0" name="multifeatured_module[module_id][status]">OUT</label>
            </div>
            {% endif %}

            </div>
            {% if calculator %}

            <div style="padding-top: 10rem">

                                <span>Длина м.
                                <span id="js-decimal-display" style="width: 5rem; height: 5rem; border:0.25rem solid #0087c4; border-radius: 1rem; text-align: center; padding: 1.5rem 3rem; margin-top: 5rem; ">
                                </span>
                                </span>

                                <span>Ширина мм. 
                                <span id="js-decimal-vertical-display" style="width: 5rem; height: 5rem; border:0.25rem solid #0087c4; border-radius: 1rem; text-align: center; padding: 1.5rem 3rem; margin-top: 5rem; ">
                                </span></span>

                                <span>Сумма руб. 
                                <span id="count" style="width: 5rem; height: 5rem; border:0.25rem solid #0087c4; border-radius: 1rem; text-align: center; padding: 1.5rem 3rem; margin-top: 5rem">
                
                                </span>
                                </span>
            </div>
                        <div class="row" style="padding-top: 10rem" >

            <p style="color: black">{{ product.property }}</p>
            </div>
            {% endif %}
            
            <div style="padding-top: 5rem; text-align: center;">
            <button class="btn btn-default footer__btn go_to" href="#footer">Получи образец</button>
            </div>
        
        </div>


        {#% if calculator %#}
        <style>
            .btn-default.btn-on.active{background-color: #0298da;color: white; outline: none;}
            .btn-default.btn-off.active{background-color: #00608c;color: white; outline: none;}
        </style>
        {#% endif %#}




    </div>
</div>

</article>
{% endblock %}
