{% extends 'crm/layout.html' %}
{% from "_form.html" import vertical_field %}
{% from "security/_macros.html" import render_field_with_errors %}
{% from "macros.html" import render_field %}
{% from "_button.html" import primary_button, checkbox %}
{% include "security/_messages.html" %}
{% block page_content %}
<div class="container">
<div class="col-lg-6 col-lg-offset-3">
<div class="row">
	<h1>Register</h1>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ vertical_field(register_user_form.email) }}
  {{ vertical_field(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
    {{ vertical_field(register_user_form.password_confirm) }}
  {% endif %}
  {{ primary_button(register_user_form.submit) }}
</form>
</div>
</div>
</div>
{% endblock %}
