
{% block page_js %}
    <script src="/pages/crm/modals/add_organisation.js"></script>{% endblock %}
{% block page_css %}  
    <link rel="stylesheet" href="/pages/crm/modals/add_organisation.css"/>{% endblock %}
<div class="modal fade" id="myModalOrg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add organisation</h4>
      </div>
      <div class="modal-body">
                <form method="post" class="form-signin" action="/add/organisation">
                    {{ OrgForm.csrf_token() }}
                    {% for i in OrgForm %}
                    {% if i.id == 'csrf_token' %}
                    {% else %}
                    {{ vertical_field(i) }}
                    {% endif %}
                    {% endfor %}  

  
                    <button type="submit" type="submit" class="btn btn-lg btn-primary btn-block">Add organisation</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>