{% extends "layout.html" %}

{% block page_title %}View {{keyword}}{% endblock %}
{% block page_js %}
    <script src="/pages/crm/view/view.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/export/bootstrap-table-export.js"></script>
    <script src="/static/js/editable-table.js"></script>
    <script src="/static/js/bootstrap-table-filter-control.js"></script>

    {% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/pages/crm/view/view_organisatios.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">{% endblock %}
{% block page_content %}
<div class="container">
          <button id="remove" class="btn btn-danger" disabled>Delete</button>
<table id="table" 
               data-toolbar="#remove"
               data-toggle="table"
               data-show-columns="true"
               data-show-toggle="true"
               data-show-pagination-switch="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-search="true"
               data-pagination="true"
               data-key-events="true"
               data-show-export="true"
               data-click-to-select="true"
               data-id-field="id"
               data-mobile-responsive="true"
               data-check-on-init="true"
               data-filter-control="true"
               data-filter-show-clear="true"

>
    <thead>
        <tr>
            <th data-checkbox="true"></th>
            {% for i in columns %}
            <th data-field={{ i }} data-sortable="true" {% if loop.first %} data-firstsort="desc" data-defaultsort="desc" {% endif %} data-editable="true"> {{ i }} </th>
            {% endfor %}
        </tr>
    </thead>
        <tbody>
            {% for k in table %}
            <tr>
                <td class="checkbox"><input name="btSelectItem" type="bs-checkbox"></td>
                {% for i in columns %}
                <td>{{k[i]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

</tbody>
</table>

</div>
{% endblock %}
