{% extends "site/layout.html" %}

{% block page_title %}О компании{% endblock %}
{% block page_js %}
    <script src="/static/js/pages/site/about.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/site/about.css"/>{% endblock %}
{% block page_content %}
<article class="main-content" style="background: white; padding-bottom: 2rem">
	<div class="container">
	<div class="aboutimage">
		<img style="margin-bottom: 1rem; margin-top: 4rem" src="/static/img/6UOlnEkiGaU.jpg">
	</div>
</article>

<article class="main-content">
    <div class="container"  style="margin-top: 10rem">
        <h1 style="color: white">О нас</h1>
        <p>
        Впервые производственные линии нашей компании заработали в 2014 году. С того момента мы поставили перед собой задачу обеспечивать потребителей современной и качественной продукцией, изготовленной с учетом прогрессивных технологий. Собственные производственные мощности позволяют нам выполнять крупные заявки оптовых компаний и сетей магазинов, не забывая о розничных покупателях. Несмотря на огромные объемы работы, мы успеваем уделить внимание каждому клиенту, учесть его потребности и пожелания, соотнести их с нашими технологическими возможностями и вместе достичь прочных торговых отношений.</p>
		<p>Сотрудничая с нами, вы получаете доступ к:</p>
<ul class="ulabout">
	<li class="fontsize16">продукции высокого качества;</li>
	<li class="fontsize16">широкому ассортиментному ряду термотрансферных лент и сопутствующих изделий;</li>
	<li class="fontsize16">своевременному изготовлению и поставке своего заказа в любую точку России удобной транспортной, почтовой или  курьерской службой;</li>
	<li class="fontsize16">выверенному и обоснованному соотношению качественных показателей и стоимости товаров;</li>
	<li class="fontsize16">технической грамотности наших специалистов;</li>
	<li class="fontsize16">приятным расценкам и акционным предложениям, программам лояльности для постоянных и новых клиентов;</li>
	<li class="fontsize16">индивидуальному подходу к каждой заявке.</li>
</ul>
<br><br>

<p>Мы готовы подобрать, произвести и доставить нужное количество термотрансферной ленты в оговоренные сроки. Для нас нет праздничных и выходных дней, а современное немецкое оборудование позволяет изготавливать ленты нестандартных размеров, снабжать их вашим логотипом и выполнять срочные заказы в критически короткие сроки.</p>

</div>
</article>
{% endblock %}
